*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    font-family: cursive;
}



h1{
    letter-spacing: 5px;
    position: relative;
    top: -75px;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}



.container
{
    background: #EFEFEF;
    width: 400px;
    height: 90px;
    border-radius: 10px;
    box-shadow: 0px 5px 25px rgba(0,0,0,.6);
    overflow: hidden;
    transition: all .3s ease;
}

.container header {
margin: 20px 0px;
}

.container header nav{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    height: min-content;
    font-size: 2.1rem;
}

.container header nav input{
    border: none;
    padding-left: .9rem;
    border-radius: 50px;
}
.container header nav button{
    font-size: 2.1rem;
    background: none;
    border: none;
    cursor: pointer;
}

.container .weather-body,
.container .not-found{
    text-align: center; 
    display: none;
    transition: .5s ease-in;
}

.container .weather-body img,
.container .not-found img{
    width: 60%;
    margin-bottom: 20px;
}



.container footer .detailes{
    display: flex;
    justify-content: space-between;
}

.container footer .detailes > *{
    width: 50%;
    display: flex;
    padding: 20px;
    align-items: center;
}

.container footer .detailes .humidity{
justify-content: flex-end;
}


.container footer .detailes .wind{
justify-content: flex-start;
}

.container footer .detailes .humidity i,
.container footer .detailes .wind  i{
font-size: 26px;
margin-right: 15px;
}







/* 

01100414994 p
106787821





PRIMO

01113733645
336947288

01113750911
121455949

01118600290
950868615

01113770106
509117188

01114588303
206411749





*/